@model Mersiv.Web.Models.AccountDetailsModel

@{
    ViewBag.Title = "KB User - " + @Model.Account.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="span12">
        <h2>@Model.Account.Name</h2>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="span3">
        <b>@Model.TotalEntryCount entries posted.</b>
    </div>
    <div class="span3">
        <b>@Model.TotalReplyCount replies posted.</b>
    </div>
    <div class="span3">
        <b>@Model.TotalVotesCount votes made.</b>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="span12">
        Account created @Model.Account.Timestamp.ToString("MMM dd yyyy")
    </div>
</div>
<br /><br />

@foreach (var entity in @Model.EntryList) {
    @Html.DisplayFor(m => entity)
}