@model Mersiv.Web.Models.AccountIndexModel

@{
    ViewBag.Title = "KB Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Entries - Page @Model.Page (@Model.Min to @Model.Max)</h2>

@foreach (var account in @Model.List) {
<div class="row">
    <div class="span7">
        <b><a href="/user/details/@account.ID">@account.Name</a></b>
    </div>
</div>
}

<br /><br />
<div class="row">
<div class="span2">
@if(@Model.Page > 1){
@Html.ActionLink("Prev Page", "Page", "Account", new { id = @Model.Page - 1}, null)
}
</div>
<div class="span2">
Page @Model.Page - @Model.Min to @Model.Max
</div>
<div class="span2">
@Html.ActionLink("Next Page", "Page", "Account", new { id = @Model.Page + 1}, null)
</div>
</div>